{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <!-- 웹 페이지가 다양한 장치(특히 모바일 장치)에서 적절하게 표시되도록 함 -->
    <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"> -->
    <link type="text/css" href="/static/bootstrap.min.css">
    <!-- pybo CSS -->
    <!-- static 디렉터리의 style.css 파일을 연결 -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
    <link type="text/css" href="/static/style.css">
    <title>With or.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body style="background-image: url('{% static 'web_background.jpeg' %}');">
    {% include "navbar.html" %}

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <!-- jQuery JS -->
    <!-- <script src="{% static 'jquery-3.7.1.min.js' %}"></script> -->
    <script src="/static/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap JS -->
    <!-- <script src="{% static 'bootstrap.min.js' %}"></script> -->
    <script src="/static/bootstrap.min.js"></script>
    <!-- 자바스크립트 Start -->
    {% block script %}
    {% endblock %}
    <!-- 자바스크립트 End -->

</body>
</html>