{% extends 'base.html' %}
{% load Recruitment_filter %}
{% block content %}

<div class="container">
    <h4 class="my-3 border-bottom pb-2 d-flex justify-content-center">프로필 편집</h4>

    <form method="post" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류 표시 -->
        {% if form.errors %}
            <!-- 빨간색 경고 박스. role로 경고 메시지임을 명시 -->
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row d-flex justify-content-between">
            <div class="form-group" style="margin-left: 20px;">
                <label for="nickname">닉네임</label>
                <input type="text" class="form-control" name="nickname" id="nickname"
                       value="{{ form.nickname.value|default_if_none:'' }}" style="width: 300px; background-color: transparent; border: 4px solid white;">
            </div>

            <div class="form-group" >
                <label for="age">나이</label>
                <input type="number" class="form-control" name="age" id="age"
                       value="{{ form.age.value|default_if_none:'' }}" style="width: 300px; background-color: transparent; border: 4px solid white;">
            </div>

            <div class="form-group"  style="margin-right: 20px;">
                <label for="user_image">프로필 사진</label>
                <input type="file" class="form-control" name="user_image" id="user_image" accept="image/*" style="width: 300px; background-color: transparent; border: 4px solid white;">
            </div>
        </div>

        <div class="row d-flex justify-content-between">
            <div class="form-group" style="margin-left: 20px;">
                <label for="major1">본전공</label>
                <input type="text" class="form-control" name="major1" id="major1"
                           value="{{ form.major1.value|default_if_none:'' }}" style="width: 300px; background-color: transparent; border: 4px solid white;">
            </div>

            <div class="form-group">
                <label for="major2">이중전공/복수전공/부전공</label>
                <input type="text" class="form-control" name="major2" id="major2"
                           value="{{ form.major2.value|default_if_none:'' }}" style="width: 300px; background-color: transparent; border: 4px solid white;">
            </div>

            <div class="form-group" style="margin-right: 20px;">
                <label for="grade">학년</label>
                <select class="form-control" name="grade" id="grade" style="width: 300px; background-color: transparent; border: 4px solid white;">
                    <option value="1" {% if form.grade.value == 1 %}selected{% endif %}>1학년</option>
                    <option value="2" {% if form.grade.value == 2 %}selected{% endif %}>2학년</option>
                    <option value="3" {% if form.grade.value == 3 %}selected{% endif %}>3학년</option>
                    <option value="4" {% if form.grade.value == 4 %}selected{% endif %}>4학년</option>
                    <option value="5" {% if form.grade.value == 5 %}selected{% endif %}>대학원</option>
                    <option value="6" {% if form.grade.value == 6 %}selected{% endif %}>해당없음</option>
                </select>
            </div>
        </div>


        <div class="row d-flex justify-content-between">
            <div class="form-group" style="margin-left: 20px;">
                <label for="github_url">Github</label>
                <input type="url" class="form-control" name="github_url" id="github_url"
                       value="{{ form.github_url.value|default_if_none:'' }}" style="width: 300px; background-color: transparent; border: 4px solid white;">
                <small class="form-text text-muted">깃헙 링크를 입력하세요.</small>
            </div>

            <div class="form-group">
                <label for="blog_url">Blog</label>
                <input type="url" class="form-control" name="blog_url" id="blog_url"
                       value="{{ form.blog_url.value|default_if_none:'' }}" style="width: 300px; background-color: transparent; border: 4px solid white;">
                <small class="form-text text-muted">블로그/티스토리/벨로그 링크를 입력하세요.</small>
            </div>

            <div class="form-group" style="margin-right: 20px;">
                <label for="sns_url">SNS</label>
                <input type="url" class="form-control" name="sns_url" id="sns_url"
                       value="{{ form.sns_url.value|default_if_none:'' }}" style="width: 300px; background-color: transparent; border: 4px solid white;">
                <small class="form-text text-muted">인스타그램/유튜브 등 SNS 링크를 입력하세요.</small>
            </div>
        </div>

        <div class="row d-flex justify-content-between">
            <div class="form-group" style="margin-left: 20px;">
                <label for="club">동아리/학회</label>
                <textarea class="form-control" name="club" id="club" rows="5" style="width: 500px; background-color: transparent; border: 4px solid white;">{{ form.club.value|default_if_none:'' }}</textarea>
            </div>

            <div class="form-group" style="margin-right: 20px;">
                <label for="activity">대외활동</label>
                <textarea class="form-control" name="activity" id="activity" rows="5" style="width: 500px; background-color: transparent; border: 4px solid white;">{{ form.activity.value|default_if_none:'' }}</textarea>
            </div>
        </div>

        <div class="row d-flex justify-content-between">
            <div class="form-group" style="margin-left: 20px;">
                <label for="contest">공모전</label>
                <textarea class="form-control" name="contest" id="contest" rows="5" style="width: 500px; background-color: transparent; border: 4px solid white;">{{ form.contest.value|default_if_none:'' }}</textarea>
            </div>

            <div class="form-group" style="margin-right: 20px;">
                <label for="intern">인턴/학부연구생</label>
                <textarea class="form-control" name="intern" id="intern" rows="5" style="width: 500px; background-color: transparent; border: 4px solid white;">{{ form.intern.value|default_if_none:'' }}</textarea>
            </div>
        </div>

        <div class="row d-flex justify-content-between">
            <div class="form-group" style="margin-left: 20px;">
                <label for="intro">소개</label>
                <textarea class="form-control" name="intro" id="intro" rows="5" style="width: 500px; background-color: transparent; border: 4px solid white;">{{ form.intro.value|default_if_none:'' }}</textarea>
            </div>
            <div class="d-flex align-items-end">
                <button type="submit" class="btn btn-primary" style="margin-right: 20px; margin-bottom: 20px; height: 40px; background-color: #F806CC; border: 1px solid #F806CC;">저장</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}